/*header*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.7rem 0.4rem 0.4rem 0.7rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #FFFFFF;
    box-shadow: 0 0 6px 0 gray;
}


.logo {
    width: auto;
    height: 50px;
    margin: 0 auto;
}

.logout_button {
    border: none;
    background-color: inherit;
    height: 50px;
    width: auto;

}

.logout_button:focus {
    outline: 0;
}

.home {
    text-align: center;
}

.home_back_button {
    border: none;
    background-color: inherit;
    height: 50px;
    width: auto;
}

.logout,
.home_back {
    color: rgba(0, 0, 0, .6);
    font-size: .0075rem;
    margin: 0;
}

/*検索*/
.search_container {
    box-sizing: border-box;
    position: relative;
    border: 2px solid #3879D9;
    padding: 3px 10px;
    border-radius: 0px;
    height: 2.3em;
    width: 70%;
    overflow: hidden;
    text-align: left;

}

.search_container input[type="text"] {
    border: none;

}

.search_container input[type="text"]:focus {
    outline: 0;
}

.search_container input[type="submit"] {
    cursor: pointer;
    font-family: FontAwesome;
    border: none;
    background: #3879D9;
    color: #fff;
    position: absolute;
    width: 4.0em;
    height: 3.0em;
    right: 0px;
    top: -7px;
    outline: none;
}


/*グロナビ*/
#blockskip a {
    position: absolute;
    top: 0;
    left: -9999px;
    display: block;
    text-align: center;
}

#blockskip a:focus {
    z-index: 11000;
    left: 0;
    right: 0;
    margin: auto;
}

.color__btn {
    background-color: #80CBC4;
    color: #212121;
}

.color__navi {
    background-color: #fff;
    color: #fff;
}

.color__logo {
    color: #212121;
}

.navi-text {
    color: rgba(0, 0, 0, .6);
    font-weight: bold;
}


.global_navigation_icon_img {
    width: auto;
    height: auto;
}

/*タブ*/

.tab_container {
    padding-bottom: 1em;
    background-color: #fff;
    border: none;
    margin: 0 auto;
}

.tab_item {
    width: calc(100%/3);
    padding: 15px 0;
    border-bottom: 3px solid #FF6672;
    background-color: #ececec;
    text-align: center;
    color: rgba(0, 0, 0, .6);
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}

.tab_item:hover {
    opacity: 0.75;
}

/* input[name="tab_item"] {
    display: none;
} */

.tab_content {
    display: none;
    padding: 1em 1em 0;
    clear: both;
    overflow: hidden;
}

#tab1:checked~#tab1_content,
#tab2:checked~#tab2_content,
#tab3:checked~#tab3_content {
    display: block;
}

.tab_container input:checked+.tab_item {
    background-color: #FF6672;
    color: #fff;
}




/*トピ詳細*/

.article_main {
    padding: 6px 6px 6px 6px;
}

.article_detail {
    display: flex;
    flex-wrap: wrap;

}

.article_detail_img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.article_title {
    font-size: 1rem;
    font-weight: 700;
    padding: 6px 0 0 0;
}

.article_lead {
    padding: 0 0 20px 0;
}

.article_detail_text {
    font-size: 1rem;
}

.kokopoi::after {
    content: "ココがポイント";
    background-color: #3474CE;
    color: #fff;
    font-size: .6875rem;
    font-weight: bold;
    min-width: 10px;
    padding: 3px 7px;
    margin: 0px 5px;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
}

.kokopoi_detail {
    border-left: 1px solid #EBEBEB;
    padding: 2px 8px;
}

.kokopoi_detail_qa {
    display: flex;
    /*justify-content: center;*/
}

.img_center {
    text-align: center;
}

.kokopoi_detail_photo {
    width: 70%;
    max-width: 70%;
    height: auto;
}